* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

button {
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  outline: none;
  cursor: pointer;
}

header h1 {
  padding: 2rem;
  background-color: #8d6e63;
}
header ul {
  padding: 1rem 2rem;
  background-color: #5f4339;
}
header ul li {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  color: #fff;
}
header ul li:not(:first-child) {
  margin-left: 2rem;
}
header ul li span {
  font-size: inherit;
  font-weight: 700;
}

.list-wr {
  background-color: #eee;
  padding: 2rem;
}
.list-wr ul li {
  padding: 0.5em 0;
}
.list-wr ul li .todo-name,
.list-wr ul li strong {
  color: #5f4339;
  font-size: 2rem;
}
.list-wr ul li button {
  font-size: 1.5em;
  padding: 0 0.5em;
}

.todo-list button:first-child {
  padding-left: 0 !important;
}
.btn-check-off .fa-check-circle {
  color: #bcbcbc;
}
.btn-check-on .fa-check-circle {
  color: #424242;
}

.btn-modify .fa-eraser,
.btn-delete .fa-trash-alt {
  color: #be9c91;
}
.add-form {
  max-width: 400px;
  padding: 1em 0;
}
.add-form input {
  width: 80%;
  padding: 0.5em 1em;
  font-size: 1rem;
  border: 1px solid #5f4339;
}
.btn-add,
.btn-reset {
  padding: 0.5em 1em;
  font-size: 1rem;
  background-color: #5f4339;
  border: 1px solid #5f4339;
  color: #fff;
  font-weight: 700;
}
.btn-add {
  width: 17%;
  margin-left: 3%;
}
.btn-reset {
  width: 400px;
}
